<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="leasing.dao.TenantsMapper">
  <resultMap id="BaseResultMap" type="leasing.entity.Tenants">
    <id column="tenants_id" jdbcType="VARCHAR" property="tenantsId" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="ssn" jdbcType="VARCHAR" property="ssn" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="background" jdbcType="VARCHAR" property="background" />
    <result column="custom_source_commission_to" jdbcType="VARCHAR" property="customSourceCommissionTo" />
    <result column="specialist" jdbcType="VARCHAR" property="specialist" />
    <result column="register_date" jdbcType="DATE" property="registerDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    tenants_id, full_name, email, wechat, ssn, gender, `source`, background, custom_source_commission_to, 
    specialist, register_date
  </sql>
  <select id="selectByExample" parameterType="leasing.entity.TenantsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tenants
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tenants
    where tenants_id = #{tenantsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tenants
    where tenants_id = #{tenantsId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="leasing.entity.TenantsExample">
    delete from tenants
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="leasing.entity.Tenants">
    insert into tenants (tenants_id, full_name, email, 
      wechat, ssn, gender, 
      `source`, background, custom_source_commission_to, 
      specialist, register_date)
    values (#{tenantsId,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{wechat,jdbcType=VARCHAR}, #{ssn,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{background,jdbcType=VARCHAR}, #{customSourceCommissionTo,jdbcType=VARCHAR}, 
      #{specialist,jdbcType=VARCHAR}, #{registerDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="leasing.entity.Tenants">
    insert into tenants
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tenantsId != null">
        tenants_id,
      </if>
      <if test="fullName != null">
        full_name,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="ssn != null">
        ssn,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="source != null">
        `source`,
      </if>
      <if test="background != null">
        background,
      </if>
      <if test="customSourceCommissionTo != null">
        custom_source_commission_to,
      </if>
      <if test="specialist != null">
        specialist,
      </if>
      <if test="registerDate != null">
        register_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tenantsId != null">
        #{tenantsId,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="ssn != null">
        #{ssn,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="background != null">
        #{background,jdbcType=VARCHAR},
      </if>
      <if test="customSourceCommissionTo != null">
        #{customSourceCommissionTo,jdbcType=VARCHAR},
      </if>
      <if test="specialist != null">
        #{specialist,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null">
        #{registerDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="leasing.entity.TenantsExample" resultType="java.lang.Long">
    select count(*) from tenants
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tenants
    <set>
      <if test="record.tenantsId != null">
        tenants_id = #{record.tenantsId,jdbcType=VARCHAR},
      </if>
      <if test="record.fullName != null">
        full_name = #{record.fullName,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.wechat != null">
        wechat = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.ssn != null">
        ssn = #{record.ssn,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null">
        `source` = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.background != null">
        background = #{record.background,jdbcType=VARCHAR},
      </if>
      <if test="record.customSourceCommissionTo != null">
        custom_source_commission_to = #{record.customSourceCommissionTo,jdbcType=VARCHAR},
      </if>
      <if test="record.specialist != null">
        specialist = #{record.specialist,jdbcType=VARCHAR},
      </if>
      <if test="record.registerDate != null">
        register_date = #{record.registerDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tenants
    set tenants_id = #{record.tenantsId,jdbcType=VARCHAR},
      full_name = #{record.fullName,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      wechat = #{record.wechat,jdbcType=VARCHAR},
      ssn = #{record.ssn,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=VARCHAR},
      `source` = #{record.source,jdbcType=VARCHAR},
      background = #{record.background,jdbcType=VARCHAR},
      custom_source_commission_to = #{record.customSourceCommissionTo,jdbcType=VARCHAR},
      specialist = #{record.specialist,jdbcType=VARCHAR},
      register_date = #{record.registerDate,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="leasing.entity.Tenants">
    update tenants
    <set>
      <if test="fullName != null">
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="ssn != null">
        ssn = #{ssn,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        `source` = #{source,jdbcType=VARCHAR},
      </if>
      <if test="background != null">
        background = #{background,jdbcType=VARCHAR},
      </if>
      <if test="customSourceCommissionTo != null">
        custom_source_commission_to = #{customSourceCommissionTo,jdbcType=VARCHAR},
      </if>
      <if test="specialist != null">
        specialist = #{specialist,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null">
        register_date = #{registerDate,jdbcType=DATE},
      </if>
    </set>
    where tenants_id = #{tenantsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="leasing.entity.Tenants">
    update tenants
    set full_name = #{fullName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      ssn = #{ssn,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      `source` = #{source,jdbcType=VARCHAR},
      background = #{background,jdbcType=VARCHAR},
      custom_source_commission_to = #{customSourceCommissionTo,jdbcType=VARCHAR},
      specialist = #{specialist,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=DATE}
    where tenants_id = #{tenantsId,jdbcType=VARCHAR}
  </update>
</mapper>